/* Write your code here: */


/* apply to both  */
h1, h2 { 
    color: blueviolet; 
}

/* apply to class .done that's direct child of .box */
.box > .done {
    color: firebrick;
}

/* apply to all li that's descendent of .box */
.box li {
    color: blue; 
}

/* chaining / joint, apply to all li that has class done */
li.done {
    color: seagreen; 
}

ul p.done {
    font-size: 0.5rem; 
}